@use "../../assets/sass/variables" as *;

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 992px) {
  .search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
