@use "./assets/sass/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Signika&display=swap");
// font Signika

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Signika";
  border-radius: 1px;
}
